.repairOrder {
  p {
      margin: 0;
  }

  .repairOrder-box {
    padding: 25px 35px;
    background-color: #fff;
    margin: 0 !important;

    label {
      width: 50px;
      text-align: left;
      display: inline-block;
    }
    .ant-select {
      margin-right: 55px;
    }

    .add-repair {
      margin: 25px 0;
      width: 130px;
    }
  }
}

.add-repair-modal {
  .ant-modal {
    width: 600px !important;
  }

  .ant-form-item-label {
    width: 90px;
  }
  
  .ant-rate {
    vertical-align: super;
    line-height: 22px;
  }

  .add-repair-sure {
    margin-top: 25px;
    float: right;
  }
  
}